:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 38%, 16%);
  --img-overlay: hsl(277, 64%, 61%);
  --headings: hsl(0, 0%, 100%);
  --main-p: hsla(0, 0%, 100%, 0.75);
  --stats-numbers: hsla(0, 0%, 100%, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: var(--main-bg);
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  width: 1080px;
  height: 446px;
  background-color: var(--card-bg);
}

.card .left {
  display: flex;
  justify-content: center;
  width: 50%;
}

.card .text {
  display: flex;
  flex-direction: column;
  width: 64%;
}

.card .text h1 {
  font-family: 'Inter', sans-serif;
  color: var(--headings);
  margin: 50px 0 30px 0;
}

.card .text h2 {
  font-family: 'Inter', sans-serif;
  color: var(--headings);
  font-size: 26px;
  margin-bottom: 10px;
}

.card .text .text-hl {
  color: var(--img-overlay);
}

.card .text p {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--main-p);
  line-height: 1.8;
}

.card .text span:not(.text-hl) {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--stats-numbers);
  text-transform: uppercase;
  font-size: 14px;
}

.card .text .numbers {
  display: flex;
  margin-top: 70px;
}

.card .text .numbers div {
  margin-right: 50px;
}

.card .right {
  display: flex;
  width: 50%;
  background: linear-gradient(
      hsla(277, 64%, 61%, 0.3),
      hsla(277, 64%, 61%, 0.3)
    ),
    url(image-header-desktop.jpg);
  background-size: cover;
}

.attribution {
  color: var(--headings);
  margin-top: 15px;
}

.attribution a {
  color: var(--img-overlay);
  text-decoration: none;
}

/* Mobile view */

@media screen and (max-width: 1080px) {
  .card .right {
    order: 1;
  }
  .card .left {
    order: 2;
  }

  .card {
    flex-direction: column;
    width: 90%;
    height: max-content;
    text-align: center;
  }

  .card .text {
    width: 80%;
  }

  .card .text .numbers {
    flex-direction: column;
    margin-top: 50px;
  }

  .card .text .numbers div {
    margin: 0;
    margin-bottom: 35px;
  }

  .card .left {
    width: 100%;
  }

  .card .right {
    background: linear-gradient(
        hsla(277, 64%, 61%, 0.3),
        hsla(277, 64%, 61%, 0.3)
      ),
      url(../images/image-header-mobile.jpg);
    background-size: cover;
    height: 300px;
    width: 100%;
  }
}
